body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #181818;
    color: #fff;
  }
  
  .library-container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #292929;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
    border-radius: 10px;
  }
  
  h1 {
    text-align: center;
    color: #00bfff;
  }
  
  #book-list {
    margin-top: 20px;
  }
  
  .book-card {
    border: 1px solid #333;
    padding: 15px;
    margin-bottom: 20px;
    background-color: #333;
    border-radius: 10px;
    transition: transform 0.3s;
  }
  
  .book-card:hover {
    transform: scale(1.02);
  }
  
  .book-card p {
    margin: 5px 0;
  }
  
  .book-card button {
    margin-top: 10px;
    padding: 5px 10px;
    background-color: #00bfff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .book-card button:hover {
    background-color: #0088cc;
  }
  
  .modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.6);
  }
  
  .modal-content {
    background-color: #333;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #00bfff;
    width: 80%;
    border-radius: 10px;
  }
  
  .close {
    color: #00bfff;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
  }
  
  .close:hover,
  .close:focus {
    color: #0088cc;
    text-decoration: none;
  }
  
  /* Form styling */
  #add-book-form {
    display: flex;
    flex-direction: column;
  }
  
  label {
    margin-top: 10px;
  }
  
  input,
  button {
    margin-top: 5px;
    padding: 8px;
    border: 1px solid #00bfff;
    border-radius: 5px;
    background-color: #333;
    color: #fff;
  }
  
  input:focus {
    outline: none;
    border-color: #0088cc;
  }
  
  button {
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  button:hover {
    background-color: #0088cc;
  }
  